<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- header 인클루드 -->
    <%-include('./include/head')%>
    <style>
      h1,
      div {
        text-align: center;
      }

      p {
        white-space: pre-line;
      }
    </style>
  </head>
  <body>
    <!-- header 인클루드 -->
    <%-include('./include/header')%>

    <!-- 
          {
            contentID: 1,
            title: "글제목1",
            content: "글 내용1",
            img: null, 
        },
     -->
    <h1><%=title%></h1>
    <div>
      <p><%=content%></p>
      <%if(img){%>
      <img src="/<%=img%>" alt="<%=contentID%>번글 이미지" width="300" />

      <%}%> <%console.log(img)%>

      <!-- 
        /r CR
        /n LF
        /r/n CRLF 
       -->
    </div>
  </body>
</html>
